Repository open-osrs/plugins, pull requests merged in 2020-02, with the labels that each got.

#11 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: automated-pull-request, gradle

#27 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.jar
Labels: automated-pull-request, gradle

#45 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated-pull-request, gradle

#50 project: Update gradle wrapper
  gradlew.bat
Labels: automated-pull-request, gradle

#66 loottracker: fix clue scroll crash
  loottracker/loottracker.gradle.kts
  loottracker/src/main/java/net/runelite/client/plugins/loottracker/LootTrackerPlugin.java
Labels: bug

#78 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated-pull-request, gradle

#82 bronzeman: remove hide trade option
  bronzeman/bronzeman.gradle.kts
  bronzeman/src/main/java/net/runelite/client/plugins/bronzeman/BronzeManConfig.java
  bronzeman/src/main/java/net/runelite/client/plugins/bronzeman/BronzemanPlugin.java
Labels: compliance
