Repository open-osrs/plugins, pull requests merged in 2020-05, with the labels that each got.

#225 barbarianassault: Updated Heal Codes
  barbarianassault/barbarianassault.gradle.kts
  barbarianassault/src/main/java/net/runelite/client/plugins/barbarianassault/Healer.java
Labels: enhancement

#227 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated-pull-request, gradle

#229 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.jar
  gradlew
  gradlew.bat
Labels: automated-pull-request, gradle

#189 screenshot: add config for feature update and add option to screenshot pvp kills on enemy death
  screenshot/screenshot.gradle.kts
  screenshot/src/main/java/net/runelite/client/plugins/screenshot/PvPKillScreenshotMode.java
  screenshot/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotConfig.java
  screenshot/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
Labels: enhancement

#234 screenshot: fix small bug
  screenshot/screenshot.gradle.kts
  screenshot/src/main/java/net/runelite/client/plugins/screenshot/ScreenshotPlugin.java
Labels: bug

#242 project: Update gradle dependencies
  loottracker/loottracker.gradle.kts
  tmorph/tmorph.gradle.kts
Labels: automated-pull-request, gradle

#246 project: Update gradle wrapper
  gradle/wrapper/gradle-wrapper.properties
Labels: automated-pull-request, gradle

#252 project: Update gradle dependencies
  build.gradle.kts
  buildSrc/build.gradle.kts
Labels: automated-pull-request, gradle

#258 project: Update gradle dependencies
  build.gradle.kts
Labels: automated-pull-request, gradle

#276 project: Update gradle dependencies
  build.gradle.kts
Labels: automated-pull-request, gradle
